html {
	background-color:#fff;
}


body {
	margin: 0;
	font-family: Merriweather;
}

main {
	margin: 1em;
}

header {
	font-family: 'Merriweather', serif;
	background-color: #d05c2e;
	color: #ffffff;
	padding: .2em 1em 1em 1em;
	margin: 0em;
	text-align: center;
	text-decoration: none;
}


h1 {
	color: #ffffff;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 3rem;
	font-style: italic;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	line-height:1.5;
	padding: 0em 1em 0em 1em;
	text-align: center;
}


h2 {
	color: #ffffff;
	background-color: #d98156;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 2rem;
	font-style: italic;
	text-decoration: none;
	line-height:1.5;
	text-align: center;
	padding: 1em 0em 1em 0em;
	border-top: 3px solid #ffe524;
}



nav {
	font-weight: normal;
	color: white;
	font-family: 'Merriweather', serif;
	background-color: #d05c2e;
	text-align: center;
	padding: 0em;}



nav li {
	font-family: 'Merriweather', serif;
	text-align: center;
	margin: 0;
	border: none;

	display: inline-block;
}

nav a{
	padding: .5em .5em .5em .5em;
	border-radius: 7px;
	background-color: #d05c2e;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}


p {
	line-height:1.5;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
	font-family: 'Merriweather', serif;;
}



figure {
	text-align: center;
	background-color: #fffce0;
	border: solid;
	border-color: #c5b844;
	border-radius: 10px;
	padding: 1em 1em 1em 1em;
	margin: 0em;
}

figcaption {
	font-style:italic ;
	line-height:1.5;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
	font-family: 'Merriweather', serif;;

}

li {
	line-height:1.5;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	font-family: 'Merriweather', serif;;
	text-align: left;
}


p {
	clear: left;}

.p2 {
	clear: left;}


a:hover {
	background-color: #a93f35;
}

.inset {
	float: right;
	width: 35%;
	margin-right: 15px;
}



.clear-it {
	clear: right;
	}




em {
	color: black;
	font-weight: bold;
}


img {
	width: 35%;
}

footer {
	background-color: #d98156;
	text-align: center;
	padding: 2em 1em 2em 1em ;
}
