html {
	background-color:#fff;
}


body {
	margin: 0;
	font-family: Merriweather;
}

main {
	margin: 0em;
}

header {
	font-family: 'Merriweather', serif;
	background-color: #d05c2e;
	color: #ffffff;
	padding: .2em 1em 1em 1em;
	margin: 0em;
	text-align: center;
	text-decoration: none;
}


h1 {
	color: #ffffff;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 3rem;
	font-style: italic;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	line-height:1.5;
	padding: 0em 1em 0em 1em;
	text-align: center;
}


h2 {
	color: black;
	background-color: none;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 2rem;
	font-style: italic;
	text-decoration: none;
	line-height:1.5;
	text-align: center;
	padding: 1em 0em 1em 0em;
	border-top: none;
}



nav {
	font-weight: normal;
	color: white;
	font-family: 'Merriweather', serif;
	background-color: #d05c2e;
	text-align: center;
	padding: 0em;
	text-decoration: none;}

	nav ol {
		overflow: hidden;
		margin: auto;
		padding: 0;
		width:100%;
	}

	nav li {
		width: 33.3%;
		text-align: center;
		float:left;
	}

/*nav ol {
	overflow: hidden;
	padding: 0;
}

nav li {
	font-family: 'Merriweather', serif;
	text-align: center;
	margin: 0;
	width: 33.3333%;
	text-decoration: ;
	display: block;
	float: left;
	list-style-type: none;
	display: inline-block;
	overflow: hidden;
	float: left;
}*/



nav a{
	padding: 1em .75em;
	background-color: #cd5b34;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	display: block;
	border-top: 1px solid black;
	border-left: 1px solid black;
	margin: 0em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}


p {
	line-height:1.5;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
	font-family: 'Merriweather', serif;;
}



figure {
	text-align: center;
	background-color: #d98156;
	border: solid;
	border-color: #d98156;
	border-radius: 10px;
	padding: 1em 1em 1em 1em;
	margin: 0em;
}

figcaption {
	font-style:italic ;
	line-height:1.5;
	font-weight: normal;
	font-size: 1rem;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	color: white;

}

li {
	line-height:1.5;
	font-weight: none;
	font-size: 1rem;
	text-decoration: none;
	font-family: 'Merriweather', serif;;
	text-align: left;
	list-style-type:none;
}


p {
	clear: left;}



.p2 {
	clear: left;}


a:hover {
	background-color: #a93f35;
}

.grains {
	float:left;
	width: 35%;
	margin-right: 15px;
	margin-bottom: 15px;

}

.inset {
	float: right;
	width: 35%;
	margin-right: 15px;
	clear: left;
}
.clear-it{
	float:right;
	width:35%;
	margin-right: 15px;
}

.graphics {
	float:left;
	width: 25%;
	margin-right: 15px;
}

.graphics-2 {
	float:right;
	width: 25%;
	margin-right: 15px;

}

.clear-it {
	clear: right;
	}

.grains {
	float: left;
	width: 25%;
	margin-right: 15px;

}

.rice {
	clear:left;
	float: left;
	width: 50%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.oats {
	float: right;
	width: 50%;
	display: inline-block;
	margin: 0;
 padding: 0;
}


.corn {
	width: 100%;
	margin: 0;
	padding: 0;
}

.peanuts {
	width: 25%;

}

.famous {
	 text-align: center;
	 color: white;
}

.beans {
	width: 25%;
}

.lentils {
	width: 25%;
	}
em {
	color: black;
	font-weight: bold;
}


img {
	width: 100%;
}

footer {
	background-color: #d05c2e;
	text-align: center;
	padding: 2em 1em 2em 1em ;
	color: white;
}

div {
overflow: hidden;
background: #d98156;
margin: 0em;
clear: right;}

.text {
list-style-type: none;
margin: 0;
margin-top: 1em;}
